@import 'components/variables';
@import 'components/button';

.index-body {
  color: #000;
  background: #eee;
  font: 16px helvetica, sans-serif;
  padding: 10px 20px;
}

.index-links {
  color: #900;
  text-decoration: none;
}

code {
  display: block;
  background: white;
  white-space: pre-wrap;
  color: blue;
  margin: 0 0 15px 0;
}
