.btn {
  color: $button-color-text;
  background: $button-color-primary;
  box-shadow: $shadow-primary;
  transition: $transition-primary;
  border-radius: $border-radius-medium;
  display: inline-block;
  text-decoration: none;
  padding: 8px 14px;
}

.btn:hover {
  color: $button-color-text-alt;
  background: $button-color-primary-alt;
}
