// Speeds
$speed-fast: 200ms;
$speed-normal: 500ms;
$speed-slow: 1000ms;

// Transitions
$transition-primary: all $speed-fast ease-in-out;

// Buttons
$button-color-primary: dodgerblue;
$button-color-primary-alt: deepskyblue;
$button-color-text: whitesmoke;
$button-color-text-alt: black;

// Shadows
$shadow-primary: 0 1px 1px rgba(0,0,0,0.2);

// Borders
$border-radius-medium: 4px;
